.container{
    height: 280px;
    width: 800px;
    overflow-y:scroll;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    margin-top:20px;
}
.container::-webkit-scrollbar {
    display: none;
}
.headline{
    margin-top:40px;
    color: #474444;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.quizcontainer{
    width: 160px;
    height: 50px;
    padding:10px;
    border-radius: 5px;
    background: #FFF;
}
.row1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quizname{
    color: #474444;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.impression{
    color: #FF5D01;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top:5px;
}
.row2{
    color: #60B84B;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}