@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Poppins:wght@500;600;700&display=swap');

*{
    font-family: 'Jomhuria', serif;
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
}


